.add_button {
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding: 5px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
	display: table-cell;
	margin-top: 15px;
	vertical-align: middle;
}
.add_button:hover {
	background-color:#5cbf2a;
}
.add_button:active {
	position:relative;
	top:1px;
}
