.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.relation_container{
  height: 50px;
  display: table;
  margin: 0 auto;

}

.relation_container p{
  display: inline-block;
  width: 320px;
  display: table-cell;
}
